body {
    background-color: whitesmoke;
    font-family: Arial;
    line-height: 25px;
    background: url(https://freefrontend.com/assets/img/css-snippets-demo/002.jpg) no-repeat center center fixed;
    background-size: cover;
    margin:0px;
}

h2 {
    padding: 5px;
    text-shadow: 1px 1px 10px rgb(98, 214, 3);
    color: rgb(62, 128, 0);
}

p {
    border-radius: 8px;
    margin: 5px;

}

img {
    border-radius: 8px;
    width: 40%;
    height: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
    width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
    border-right: solid rgb(117, 151, 23) 5px;
    border-left: solid rgb(117, 151, 23) 5px;
    width: 600px;
}

.group5{
    background-color: rgb(71, 9, 9);
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    padding: 40px;
}
    
    
.header{
    position: fixed;
    margin: 0px auto;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #67b924;
    border-bottom: darkolivegreen solid 1px;
    }

.inner_header{
    margin: 0px auto;
    width: 1000px;
    height: 100%;
    display: block;


}
h1.group5h1{
    color:white;
    text-shadow: 1px 1px 10px rgb(31, 39, 25);
    text-transform: lowercase;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}

h1.group5h1:hover{
    color:black;
    text-shadow: 1px 1px 10px rgb(93, 184, 24);
    text-transform: uppercase;
}

.logo_container h1 span{
    font-weight: 800;

}

img.hmlogo{
    width:200px;
    height:200px;
    float:right;
    border:0px;
}
.navigation{
    float: right;
    height: 100%;
}
img.hmlogo:hover{
    background-color: black;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0px
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}


   
   
  ul {
    overflow: auto;
    list-style-type: none;
  }
   
  li {
    height: 45px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
   
  li:last-child {
    border-right: none;
  }
   
  li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: #666;
  }
   
  li.active a {
    font-weight: bold;
    color: #333;
  }

  .under_header {
    width: 100%;
}

.under_header img{
    width: 100%;

}

.under_header_text{
    width: 100%;
    margin-top: -140px;
}

.under_header_text h1{
    text-align: center;
    color: whitesmoke;
    font-size: 80px;
}

