body {
    background-color: whitesmoke;
    font-family: Arial;
    line-height: 25px;
}

h1 {
    size: 60px;
    font-family: Georgia;
}

img {
    width: 100%;
    height: 100%;
}

.column {
    width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
    border: solid lightgrey 1px;
}

