body {
    background-color: whitesmoke;
    font-family: Arial;
    line-height: 25px;
}

h1 {
    font-size: 60px;
    font-family: Georgia;
    
    
}

h1, h2 {
    padding: 5px;
    text-shadow: 1px 1px 10px rgb(98, 214, 3);
    color: rgb(62, 128, 0);
}

p {
    border-radius: 8px;
    margin: 5px;

}

img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.column {
    width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
    border-right: solid rgb(117, 151, 23) 5px;
    border-left: solid rgb(117, 151, 23) 5px;
    width: 600px;
}


